@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>
	<img src="../../Jasmine/Core/jasmine_favicon.png" alt="" />
	<link href="~/Jasmine/Core/jasmine.css" rel="stylesheet" />
  
	<script src="~/Jasmine/Core/jasmine.js"></script>
	<script src="~/Jasmine/Core/jasmine-html.js"></script>
	<script src="~/Jasmine/Core/boot.js"></script>


  <!-- include source files here... -->
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
	<script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-mocks.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/ngToast.js"></script>
	
	
	<script src="~/Scripts/angular-resource.js"></script>
	<script src="~/Js/Services/CommonServices.js"></script>
	<script src="~/Js/Services/PlanetResource.js"></script>
	<script src="~/Js/Services/ApiResource.js"></script>
	

	<script src="~/Js/app.js"></script>
    <script src="~/Js/Directives/PlanetDir.js"></script>
	<script src="~/Js/Controllers/PlanetController.js"></script>
	
	<!-- include spec files here... -->
	<script type="text/javascript" src="~/Jasmine/PlanetCtrlSpec.js"></script>

</head>

<body>
</body>
</html>
